/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 1rem;
}


.h-200 {
  height: 200px;
}

.h-250 {
  height: 250px;
}

.min-w-300 {
  min-width: 300px;
}
.max-h-200 {
  max-height: 200px;
}
@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  word-wrap: break-word;
}

.nav-scroller a {
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 120px; */
}
.nav-scroller .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
}

.text-semi-muted {
  color: #353a3e !important;
}

/********************************************/
/*icon tab*/
/********************************************/
#icon_tab .tabs-list {
  list-style: none;
  padding-inline-start: 0px;
  margin-bottom: 0;
  display: flex;
}

#icon_tab .tabs-list li {
  display: flex;
  flex: 1;
  background: #f8f8f8 !important;
  margin: 15px 15px 0px 15px;
  padding: 10px;
  box-shadow: 0px 7px 22px -10px rgba(0, 0, 0, 0.7);
  border-radius: 5% 5% 0 0;
}
@media (max-width: 768px) {
  #icon_tab .tabs-list li {
    min-width: 46%;
    margin: 2%;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.2);
  }
}
#icon_tab .tabs-list li a {
  color: black;
  text-decoration: none;
  width: 100%;
  float: left;
  position: relative;
  z-index: 1;
  padding: 20px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#icon_tab .tabs-list .ui-tabs-active {
  background: #343a40 !important;
  box-shadow: 0px 7px 25px -12px rgba(0, 0, 0, 0.7);
}
#icon_tab .tabs-list .ui-tabs-active a:after {
  content: ".";
  color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid white;
  width: 30px;
  height: 0;
  margin-top: 10px;
}

#icon_tab .tabs-list .ui-tabs-active a {
  color: white !important;
}
#icon_tab .tabs-list li a img {
  display: block;
  height: 50px;
  margin-bottom: 5px;
  opacity: 0.75;
}
#icon_tab .tabs-list li a span {
  display: block;
  font-size: 15px;
}
#icon_tab .tabs-list li a strong {
  display: block;
  font-size: 15px;
}

#icon_tab .icon-icon-hair:before {
  content: "\e902";
}
@media (max-width) {
  #icon_tab .tabs-list {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #343a40 !important;
  }
  #icon_tab .tabs-list li a img {
    height: 25px;
  }
  #icon_tab .tabs-list li a span {
    display: block;
    font-size: 16px;
  }
  #icon_tab .tabs-list li a strong {
    display: block;
    font-size: 16px;
  }
}

#icon-content {
  background: #343a40 !important;
  padding: 20px;
  padding-top: 30px;
  border-radius: 5px;
  z-index: 1;
  position: relative;
}
